<div class="CustomerPage">
  <div class="CustomerPageHeader">
    <div style="width: 1200px; height: 100px; justify-content: space-between; display: inline-flex; position: absolute; left: 18%">
      <div style="display: inline-flex">
        <img src='https://www.pinclipart.com/picdir/big/404-4045342_customers-for-your-business-animated-people-transparent-background.png' style='height: 100px'>
        <h1 style="color: white; height: 10px; font-weight: bold; font-size: 42px; text-align-last: center">Customer Manager Tool</h1>
      </div>
      <div style="display: inline-flex; justify-content: space-evenly; width: 500px">
        <h1 style="color: white; font-weight: bold; margin-top: 30px"><a href="../customer-page" style="color: white">Customers</a></h1>
        <h1 style="color: white; font-weight: bold; margin-top: 30px"><a href="../login" style="color: white">Log Out</a></h1>
      </div>
    </div>
  </div>

  <div style="width: 1200px; position: absolute; left: 18%; margin-top: 20px">
    <div style="display: inline-flex">
      <img src="https://www.pinclipart.com/picdir/big/371-3712002_png-file-svg-person-icon-black-png-clipart.png" style="height: 150px">
      <h1 style="font-size: 42px; margin-top: 50px;">Customers</h1>
    </div>
  </div>

  <div style="width: 1200px; position: absolute; left: 18%; margin-top: 180px">
    <div style="display: inline-flex; width: 210px; justify-content: space-between">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7w8Dp4tuMoMcON2eYOfcXd0bGs-RNQ66vL_eRV8S_jsrCQaJCyw&s" style="height: 50px; margin-top: 12px">
      <h1 style="text-align-last: center"><a href="../customer-page" style="color: black">Card View</a></h1>
    </div>

    <div style="display: inline-flex; width: 200px; justify-content: space-between; margin-left: 30px">
      <img src="https://static.thenounproject.com/png/424383-200.png" style="height: 50px; margin-top: 12px">
      <h1 style="text-align-last: center"><a href="../customer-page-list-view" style="color: black">List View</a></h1>
    </div>

    <div style="display: inline-flex; width: 260px; justify-content: space-between; margin-left: 30px">
      <img src="https://cdn2.iconfinder.com/data/icons/flat-ui-icons-24-px/24/plus-24-512.png" style="height: 50px; margin-top: 12px">
      <h1 style="text-align-last: center">Add Customer</h1>
    </div>
  </div>

  <div style="width: 1200px; position: absolute; left: 18%; margin-top: 275px; display: grid;">
    <table class="CustomerPageTable">
      <tr>
        <th style="width: 150px; height: 50px; background-color: blue"></th>
        <th style="font-size: 18px; background-color: blue; color: white; height: 50px">FIRST NAME</th>
        <th style="font-size: 18px; background-color: blue; color: white; height: 50px">LAST NAME</th>
        <th style="font-size: 18px; background-color: blue; color: white; height: 50px">ADDRESS</th>
      </tr>
      <tr *ngFor="let customer of customers.customers">
        <td [style.background-color]={'customer.gender' === 'female' ? 'red': 'blue'}>
          <img src="https://www.pinclipart.com/picdir/big/371-3712002_png-file-svg-person-icon-black-png-clipart.png" style="height: 100px; margin-left: 12px; margin-top: 2px">
        </td>
        <td style="text-align: center; font-size: 24px; font-weight: bold">{{ customer.first_name }}</td>
        <td style="text-align: center; font-size: 24px; font-weight: bold">{{ customer.last_name }}</td>
        <td style="text-align: center; font-size: 24px; font-weight: bold">{{ customer.address}}</td>
      </tr>

    </table>
  </div>

</div>