.LoginPage {
  background-color: blue;
  width: 100%;
  height: 100vh;
  text-align: center;
}

.LoginPageDiv {
  background-color: cornflowerblue;
  display: inline-block;
  text-align: center;
  padding: 80px;
  margin: 50px 16px;
  border-radius: 25px;
}

.LoginPageLabel {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.LoginPageInputBox {
  width: 100%;
  height: 30px;
  border-radius: 10px;
}

.LoginPageButton {
  width: 50%;
  height: 35px;
  font-size: 24px;
  background-color: lightskyblue;
  border: none;
  font-weight: bold;
}